[Desktop Entry]
Name=Add to Islandora
Version=1.0
Exec=/usr/bin/python3 /home/mark/Documents/hacking/droptoislandora/droptoislandora.py
Icon=/home/mark/Documents/hacking/droptoislandora/icon.png
Terminal=false
Type=Application
